@{
    ViewData["Title"] = "Thông tin sinh viên";
}
<div class="alert alert-info">
    <h1>@ViewData["Title"]</h1>
    <hr/>
    <h1>Thông tin Member</h1>
    <p>MemberID : @Model.NthMemberID</p>
    <p>Username : @Model.NthUsername</p>
    <p>Password : @Model.NthPassword</p>
    <p>Fullname : @Model.NthFullname</p>
    <p>Email : @Model.NthEmail</p>
</div>