@model IEnumerable<nthLesson4.Models.NthBook>
@{
    ViewData["Title"] = "List Book";
}

<h1>Thông tin các cuốn sách</h1>
<a asp-action="NthCreate" class="btn btn-success mb-3">➕ Thêm sách</a>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>BookId</th>
            <th>Title</th>
            <th>Description</th>
            <th>Image</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (NthBook nthItem in Model)
        {
            <tr>
                <td>@nthItem.NthId</td>
                <td>@nthItem.NthTitle</td>
                <td>@nthItem.NthDecription</td>
                <td>
                    <img src="@Url.Content(nthItem.NthImage)" alt="@nthItem.NthTitle" style="width:100px; height:150px;" />
                </td>
                <td>@nthItem.NthPrice</td>
                <td>
                    <a asp-action="NthEdit" asp-route-id="@nthItem.NthId" class="btn btn-warning btn-sm">✏️ Sửa</a>
                    <a asp-action="NthDelete" asp-route-id="@nthItem.NthId" class="btn btn-danger btn-sm" onclick="return confirm('Bạn có chắc chắn muốn xoá không?');">🗑️ Xoá</a>
                </td>
            </tr>
        }
    </tbody>
</table>
